body {

  font-family: 'Noto Serif Display', serif;
  background-color: rgb(26, 25, 25);
  color: white;

}

.mainsection {
  font-family: 'Sansita Swashed', cursive;

  /* background-image: url("photos/monique chin.jpeg"); The image used */
  /* background-color: #292727; Used if the image is unavailable */
  /* height: 1300px; You must set a specified height */
  /* background-size: cover; */


}

.overlay {
  position: relative;

}

.pgr h5 {

  margin: 8px;
  text-align: left;
  padding-top: 5%;
  padding-left: 2%;
  font-size: 45pt;
  color: #292727;
  font-family: 'Noto Serif Display', serif;
}

.mainsection img {
  object-fit: cover;
  object-position: top;
  height: 1500px;
  width: 100%;

}

.pgr {
  position: absolute;
  padding-left: 2%;
  font-size: 25pt;
  color: #292727;
  font-family: 'Noto Serif Display', serif;
}



.devotionalcolumns {
  display: flex;

  padding: 1%;
  column-gap: 2%;
}

.picflow {
  width: 175px;
  height: 175px;
  float: left;
  padding: 2%;
  padding-left: 2%;
  padding-right: 1%;
}

.columncontent {
  width: 33%;
  color: #cccccc;
}



.mompic {
  clear: both;
}

.header-container {
  display: flex;
  padding: 15px;
  position: fixed;
  width: 100%;
  background-color: #4E1A3D;
  position: relative;



}

.header-flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

}

nav {
  width: 100%;
}

nav a {
  font-size: 30px;
  font-family: 'Noto Serif Display', serif;
  color: white;
  margin: 0 20px;

}

.footer-container {
  border-top: 60px steelblue
}

.aboutmepic {
  margin-top: 5%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0%;
}

.abouttitlelinecolumns {
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: .5%;
  display: flex;

}

.aboutdemos {
  text-align: left;
  width: 40%;
  padding-right: -1.0%;

}

.aboutpage {
  background-image: linear-gradient(rgba(290, 265, 299, 0.4), rgba(255, 255, 250, 0.603)), url(photos/faithpossible.png);
  background-size: cover;
  background-color: #cccccc;

}

.aboutcolumn-container {
  border-top: 3px solid black;
  grid-column: 1/3;
  /*padding: 0px 10%;
  /* border-top: 50px solid #4E1A3D */

}

.aboutcolumns {
  display: inline-flex;
  padding: 1%;
  column-gap: 2%;
}

.aboutcolumncontent {
  display: inline-flex;
  flex-direction: column;
  width: 33%;


}

.aboutcolumncontent h2 {

  font-size: 25pt;
  padding-left: 1%;


}

.aboutpicflow {
  width: 175px;
  height: 175px;
  float: left;
  padding: 5%;
  padding-bottom: 1%;
  padding-left: 4%;
  padding-right: 4%;
}

.abouttext {
  color: black;
  font-family: 'Noto Serif Display', serif;
  font-size: 15pt;
}

.aboutopen {
  font-size: 18pt;
  font-style: italic;
  padding-top: 0%;
  padding-left: 1%;
}


.resourcesmainsection {
  background-image: linear-gradient(rgba(290, 265, 299, 0.4), rgba(255, 255, 250, 0.603)), url(photos/22D2BC4D-1AD3-4827-A545-29653DBD91B8_1_105_c.jpeg);
  background-color: #cccccc48;
  /* Used if the image is unavailable */
  /* height: 1900px; You must set a specified height */
  background-size: cover;
}

.resourceslinks {
  padding-top: 1%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  font-family: 'Sansita Swashed', cursive;
  font-size: 25pt;


}

.resourceslinks a {
  color: #4E1A3D;
}

.resourcecontent {
  padding-top: 5%;
}

.resourcesmainsection,
h1 {
  font-size: 25pt;
  color: white;
  background-color: rgb(54, 53, 53);
}

.acktext {
  font-size: 14pt;
  color: #4E1A3D;
  padding-left: 1%;

}

.acktext h4 {
  font-size: 16pt;
  font: bold;

}

.booklist {
  padding: 1%;
}

.contactmainsection {
  width: 100%;

  background-image: linear-gradient(rgba(290, 265, 299, 0.4), rgba(255, 255, 250, 0.411)), url(photos/rose.JPG);
  background-color: #2e03272a;
  /* Used if the image is unavailable */
  height: 1200px;
  /* You must set a specified height */
  background-size: cover;
  display: inline-block;
}



.contactpicflow {

  float: left;
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 1%;
  padding-right: 4%;
  display: flex;
}

input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}


.contactmeform {
  background-color: #4E1A3D;
  height: 500%;
  padding-top: 2%;
}



/* Add a background color and some padding around the form */
.contactmainsection {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2px;

}

.contactmainsection,
h3 {
  padding-top: 2%;
  color: #292727;
  font-size: 25pt;


}

@media screen and (max-width:600px) {
  .header-flex {
    flex-direction: column;
    align-items: flex-start;

  }

  .header-container {
    /* justify-content: center; */
    padding-left: 0%;
    position: static;


  }

  .navlinks {
    flex-direction: column;
    display: flex;
  }

  .contacticons {
    margin-top: 8px;
  }

  .mainsection img {
    height: 375px;
    width: 100%;
    padding-top: 0%;
  }

  .mainsection h5 {
    height: 100%;
    padding: 0%;
    font-size: x-large;
    display: flex;
    margin-left: auto;
  }

  .mainsection h4 {

    font-size: 14pt;
    max-width: 130px;
  }

  .devotionalcolumns {
    flex-direction: column;

  }

  .columncontent {
    width: 100%;
  }

  .contactpicflow {
    height: 300px;
    width: 275px;
  }

  .contactmainsection h3 {
    padding-top: 2%;
    color: #292727;
  }


  .aboutmepic {

    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0%;
    height: 200px;
    width: 200px;
  }




}