body {
  
  font-family: 'Noto Serif Display', serif;
  background-color: grey;
  color: white;

  }
  
.mainsection {
  font-family: 'Sansita Swashed', cursive;
  font-size: larger;
  display: flex;
  background-image: url("photos/22D2BC4D-1AD3-4827-A545-29653DBD91B8_1_105_c.jpeg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-size: cover; 
  
}
.pgr {
  margin-left: 150px;
  margin-top: 150px;
}
.column-container {
  grid-column: 1/3;
  /* grid-row: ; */
  /* padding: 10%; */
  border-top: 50px solid #4E1A3D;
}
.devotionalcolumns {
  display: flex;
  padding: 1%;
  column-gap: 2%; 
}
.picflow {
  width: 175px;
  height: 175px;
  float: left;
  padding: 2%;
  padding-left: 2%;
  padding-right: 1%;
}
.columncontent {
  width: 33%;
}
.mompic {
  clear: both;
}

.header-container {
 display: flex;
  padding: 15px;
  position: fixed;
  width: 100%;
  background-color: #4E1A3D;
  
  
}
.header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
nav a {
  font-size: 30px;
  font-family: 'Noto Serif Display', serif;
  color: white;
 margin: 0 20px;
}

.footer-container {
  grid-column: 1/3;
  grid-row: 3;
  padding: 0px 10%;
  border-top: 60px steelblue
}
.aboutmepic {
margin-top: 5%;
float: left;
   

}
.abouttitleline {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;

  
}
.aboutpage {
  background-image: linear-gradient(rgba(290,265,299,0.4), rgba(255, 255, 250, 0.603)), url(photos/faithpossible.png);
  background-size: cover;
  height: 1800px;
  background-color: #cccccc; 
  
}
.aboutcolumn-container {
  grid-column: 50%;
  grid-row: 50%;
  padding: 0px 10%;
  border-top: 50px solid #4E1A3D
}
.aboutcolumns {
  display: flex;
  padding: 1%;
  column-gap: 5%; 
  
  
  
  }
  .aboutcolumncontent {
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .aboutcolumncontent h2 {
    font-size: 25pt;
    padding-left: 1%;
    background-color: #585884;
  }


  .aboutpicflow {
    width: 175px;
    height: 175px;
    float: left;
    padding: 4%;
    padding-left: 4%;
    padding-right: 4%;
  }
  .abouttext {
    color: black;
    font-family: 'Noto Serif Display', serif;
    font-weight: 900;
    font-size: 15pt;
  }
  .aboutopen {
    font-size: 18pt;
    font-style: italic;
  }


  .resourcesmainsection {
      font-family: 'Sansita Swashed', cursive;
      font-size: larger;
      display: flex;
      background-image: url("photos/22D2BC4D-1AD3-4827-A545-29653DBD91B8_1_105_c.jpeg"); /* The image used */
      background-color: #cccccc; /* Used if the image is unavailable */
      height: 500px; /* You must set a specified height */
      background-size: cover; 
  }

  .contactmainsection {
      font-family: 'Sansita Swashed', cursive;
      font-size: larger;
      display: flex;
      background-image: linear-gradient(rgba(290,265,299,0.4), rgba(255, 255, 250, 0.411)), url(photos/rose.JPG);
      background-color: #2e03272a; /* Used if the image is unavailable */
      height: 800px; /* You must set a specified height */
      background-size: cover; 
  }




